<strong>Olá, {{ student }}.</strong>
<p>Sua pergunta para GynPoint foi respondida. Veja abaixo o que nossos especialistas te disseram:</p>
<p>
  <strong>Pergunta: </strong> {{ question }} <br />
  <strong>Resposta: </strong> {{ answer }} 
  <small>Respondida em {{ answer_at }}</small>
</p>